@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-300;
  }

  :root.dark body {
    @apply bg-gray-950 text-gray-100;
  }
}
